doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lib/vis.min.css')
    script(src='javascripts/lib/vis.min.js')
    script(src='javascripts/lib/jquery.min.js')
  body
    block content
